 <div id="content" class="w-normal clearfix">
  
<section id="login">
  <h2>ログイン</h2>
  
  
  <form action="/user/login?refer=%2Fuser%2Fmypage" method="post" ><input type="hidden" name="_csrf" value="QqrRJ1RkQG" />
    <ul>
      <li><input id="input_mail" type="text" name="mail" value="" placeholder="メールアドレス" class="mail" /></li>
      <li><input id="input_password" type="password" name="password" value="" placeholder="パスワード" class="password" /></li>
      
    </ul>
    <div class="link"><a href="/user/reset_password" rel="nofollow">パスワードをお忘れですか？</a></div>
    <div class="submit"><input type="submit" class="btn" value="ログイン"></div>
  </form>
  <hr>
  <ul class="sns">
    <li><a href="/user/login/facebook?refer=%2Fuser%2Fmypage" class="facebook"><i class="facebook size20 w"></i><span class="text">Facebookでログイン</span></a></li>
    <li><a href="/user/login/twitter?refer=%2Fuser%2Fmypage" class="twitter"><i class="twitter size20 w"></i>Twitterでログイン</span></a></li>
  </ul>
  <hr>
  <div class="other">
    <div class="mb12">アカウントをお持ちでない方は</div>
    <a href="/user/register?refer=%2Fuser%2Fmypage" class="btn red" rel="nofollow">新規会員登録</a>
  </div>
</section>

  </div>