<h1>ブログを編集する</h1>
<hr>
<%= form_for @post do |f| %>
  <p>内容</p>
  <%= f.text_area :content, :class => "form-control my-form" %>
  <hr>
  <%= f.submit "変更する", :class => "btn btn-primary" %>
  <% end %>
  <hr>
  <a href="/posts/<%= @post.id %>" class="btn btn-info">投稿に戻る</a>