<h1>ブログ</h1>
<hr>
<p><%= @post.title %></p>
<p><%= @post.content %></p>
<hr>
<p><a href="/posts" class="btn btn-info">トップに戻る</a></p>
<p><a href="/posts/<%= @post.id %>/edit" class="btn btn-success">投稿を編集する</a></p>
<p><a href="/posts/<%= @post.id %>" data-method="delete" class="btn btn-danger">投稿を削除する</a></p>